In [44]:
import pyspark
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql import Column
from pyspark.sql.functions import upper, lit
spark = SparkSession.builder.getOrCreate()

In [5]:
pandas_df = pd.DataFrame({
    'PassangerId': [1, 2, 3, 4, 5],
    'Name': ['Owen', 'Florence', 'Laina', 'Lily', 'William'],
    'Sex': ['male', 'female', 'female', 'female', 'male'],
    'Age': [22, 38, 26, 35, 35],
    'Fare': [7.3, 71.3, 7.9, 53.1, 8.0],
    'Origin':['US', 'Europe', 'US','US','Europe']
})
df = spark.createDataFrame(pandas_df)
df.show()

/home/rahmania/.local/lib/python3.8/site-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/home/rahmania/.local/lib/python3.8/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

+-----------+--------+------+---+----+------+
|PassangerId|    Name|   Sex|Age|Fare|Origin|
+-----------+--------+------+---+----+------+
|          1|    Owen|  male| 22| 7.3|    US|
|          2|Florence|female| 38|71.3|Europe|
|          3|   Laina|female| 26| 7.9|    US|
|          4|    Lily|female| 35|53.1|    US|
|          5| William|  male| 35| 8.0|Europe|
+-----------+--------+------+---+----+------+

In [6]:
df.printSchema()

root
 |-- PassangerId: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Origin: string (nullable = true)

In [7]:
df.select(df.Name).show()

+--------+
|    Name|
+--------+
|    Owen|
|Florence|
|   Laina|
|    Lily|
| William|
+--------+

In [9]:
df.select(df.PassangerId, df.Name).show()

+-----------+--------+
|PassangerId|    Name|
+-----------+--------+
|          1|    Owen|
|          2|Florence|
|          3|   Laina|
|          4|    Lily|
|          5| William|
+-----------+--------+

In [47]:
df.withColumn('PClass', lit(0)).show()

+-----------+--------+------+---+----+------+------+
|PassangerId|    Name|   Sex|Age|Fare|Origin|PClass|
+-----------+--------+------+---+----+------+------+
|          1|    Owen|  male| 22| 7.3|    US|     0|
|          2|Florence|female| 38|71.3|Europe|     0|
|          3|   Laina|female| 26| 7.9|    US|     0|
|          4|    Lily|female| 35|53.1|    US|     0|
|          5| William|  male| 35| 8.0|Europe|     0|
+-----------+--------+------+---+----+------+------+

In [22]:
df.withColumn('Agefare', upper(df.Age*df.Fare)).show()

+-----------+--------+------+---+----+------+-------+
|PassangerId|    Name|   Sex|Age|Fare|Origin|Agefare|
+-----------+--------+------+---+----+------+-------+
|          1|    Owen|  male| 22| 7.3|    US|  160.6|
|          2|Florence|female| 38|71.3|Europe| 2709.4|
|          3|   Laina|female| 26| 7.9|    US|  205.4|
|          4|    Lily|female| 35|53.1|    US| 1858.5|
|          5| William|  male| 35| 8.0|Europe|  280.0|
+-----------+--------+------+---+----+------+-------+

In [26]:
df.groupby('Sex').count().show()

+------+-----+
|   Sex|count|
+------+-----+
|  male|    2|
|female|    3|
+------+-----+

In [28]:
df.filter(df.Sex == 'female').show()

+-----------+--------+------+---+----+------+
|PassangerId|    Name|   Sex|Age|Fare|Origin|
+-----------+--------+------+---+----+------+
|          2|Florence|female| 38|71.3|Europe|
|          3|   Laina|female| 26| 7.9|    US|
|          4|    Lily|female| 35|53.1|    US|
+-----------+--------+------+---+----+------+

In [31]:
df.orderBy(df.Age).show()

+-----------+--------+------+---+----+------+
|PassangerId|    Name|   Sex|Age|Fare|Origin|
+-----------+--------+------+---+----+------+
|          1|    Owen|  male| 22| 7.3|    US|
|          3|   Laina|female| 26| 7.9|    US|
|          5| William|  male| 35| 8.0|Europe|
|          4|    Lily|female| 35|53.1|    US|
|          2|Florence|female| 38|71.3|Europe|
+-----------+--------+------+---+----+------+

In [42]:
df.groupBy('Origin').count().orderBy("count",ascending=False).show()

+------+-----+
|Origin|count|
+------+-----+
|    US|    3|
|Europe|    2|
+------+-----+