Tugas 1 adalah tugas kelompok, masing-masing kelompok beranggotakan 3 mahasiswa.
Diberikan file Auto.csv yang dapat diunduh dari Google Classroom. Berdasarkan file tersebut buat contoh
dari perintah-perintah di bawah ini menggunakan perintah PySpark dalam jupyter notebook. Setiap jawaban
harus dapat dijalankan di notebook dan ditunjukkan luarannya. Unggah notebook ke Google Classroom
paling lambat hari Kamis, 09 Maret 2023, pukul 24.00. Untuk unggah notebook setiap kelompok diwakili
oleh salah satu anggota saja.

1. Berikan contoh cara mengambil satu kolom dari sebuah DataFrame PySpark.
2. Berikan contoh cara mengambil beberapa kolom dari sebuah DataFrame PySpark.
3. Berikan contoh cara mengubah nama sebuah kolom dalam sebuah DataFrame PySpark.
4. Berikan contoh cara menghapus sebuah kolom dari sebuah DataFrame PySpark.
5. Berikan contoh cara melakukan filter baris dalam sebuah DataFrame PySpark berdasarkan satu kondisi.
6. Berikan contoh cara melakukan filter baris dalam sebuah DataFrame PySpark berdasarkan beberapa
kondisi.
7. Berikan contoh cara melakukan filter baris dalam sebuah DataFrame PySpark berdasarkan sebuah
substring dalam sebuah kolom.
8. Berikan contoh cara melakukan filter baris dalam sebuah DataFrame PySpark berdasarkan sebuah
regular expression dalam sebuah kolom.
9. Berikan contoh cara melakukan filter baris dalam sebuah DataFrame PySpark berdasarkan sebuah
daftar nilai dalam sebuah kolom.
10. Berikan contoh cara melakukan filter baris dalam sebuah DataFrame PySpark berdasarkan sebuah
rentang nilai dalam sebuah kolom.
11. Berikan contoh cara melakukan filter baris dalam sebuah DataFrame PySpark berdasarkan nilai null
atau non-null dalam sebuah kolom.
12. Berikan contoh cara menggabungkan beberapa kondisi filter dalam sebuah DataFrame PySpark.
13. Berikan contoh cara melakukan sorting dalam sebuah DataFrame PySpark berdasarkan satu atau
beberapa kolom.
14. Berikan contoh cara menggunakan fungsi-fungsi SQL PySpark untuk mengubah nilai kolom sebelum
melakukan filter.
15. Berikan contoh cara menghitung jumlah baris dalam setiap kelompok dari sebuah DataFrame PySpark.
16. Berikan contoh cara menghitung jumlah, rata-rata, minimum, dan maksimum dari sebuah kolom
numerik untuk setiap kelompok dalam sebuah DataFrame PySpark.

In [107]:
# from google.colab import drive
# drive.mount('/content/drive')

In [108]:
#pip install pyspark

In [109]:
import pandas as pd
from pyspark.sql import SparkSession
import pyspark
spark = SparkSession.builder.getOrCreate()
from pyspark.sql import Row
from pyspark.sql import Column
from pyspark.sql.functions import upper
from pyspark.sql.functions import lit

In [110]:
book = spark.read.option("inferSchema", "true").option("header", "true").csv("Auto.csv")
book.show()

+-----------+---------+----------+------------+-----------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------------+----------+--------+-----+
|       make|fuel-type|aspiration|num-of-doors| body-style|wheel-base|length|width|height|curb-weight|engine-type|num-of-cylinders|engine-size|compression-ratio|horsepower|peak-rpm|price|
+-----------+---------+----------+------------+-----------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------------+----------+--------+-----+
|alfa-romero|      gas|       std|         two|convertible|      88.6| 168.8| 64.1|  48.8|       2548|       dohc|            four|        130|              9.0|       111|    5000|13495|
|alfa-romero|      gas|       std|         two|convertible|      88.6| 168.8| 64.1|  48.8|       2548|       dohc|            four|        130|              9.0|       111|    5000|16500|
|alfa-romero|      gas|       std|         two|  hatchback|      94.5| 171.2| 65.5|  52.4|       2823|       ohcv|             six|        152|              9.0|       154|    5000|16500|
|       audi|      gas|       std|        four|      sedan|      99.8| 176.6| 66.2|  54.3|       2337|        ohc|            four|        109|             10.0|       102|    5500|13950|
|       audi|      gas|       std|        four|      sedan|      99.4| 176.6| 66.4|  54.3|       2824|        ohc|            five|        136|              8.0|       115|    5500|17450|
|       audi|      gas|       std|         two|      sedan|      99.8| 177.3| 66.3|  53.1|       2507|        ohc|            five|        136|              8.5|       110|    5500|15250|
|       audi|      gas|       std|        four|      sedan|     105.8| 192.7| 71.4|  55.7|       2844|        ohc|            five|        136|              8.5|       110|    5500|17710|
|       audi|      gas|       std|        four|      wagon|     105.8| 192.7| 71.4|  55.7|       2954|        ohc|            five|        136|              8.5|       110|    5500|18920|
|       audi|      gas|     turbo|        four|      sedan|     105.8| 192.7| 71.4|  55.9|       3086|        ohc|            five|        131|              8.3|       140|    5500|23875|
|       audi|      gas|     turbo|         two|  hatchback|      99.5| 178.2| 67.9|  52.0|       3053|        ohc|            five|        131|              7.0|       160|    5500| null|
|        bmw|      gas|       std|         two|      sedan|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|              8.8|       101|    5800|16430|
|        bmw|      gas|       std|        four|      sedan|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|              8.8|       101|    5800|16925|
|        bmw|      gas|       std|         two|      sedan|     101.2| 176.8| 64.8|  54.3|       2710|        ohc|             six|        164|              9.0|       121|    4250|20970|
|        bmw|      gas|       std|        four|      sedan|     101.2| 176.8| 64.8|  54.3|       2765|        ohc|             six|        164|              9.0|       121|    4250|21105|
|        bmw|      gas|       std|        four|      sedan|     103.5| 189.0| 66.9|  55.7|       3055|        ohc|             six|        164|              9.0|       121|    4250|24565|
|        bmw|      gas|       std|        four|      sedan|     103.5| 189.0| 66.9|  55.7|       3230|        ohc|             six|        209|              8.0|       182|    5400|30760|
|        bmw|      gas|       std|         two|      sedan|     103.5| 193.8| 67.9|  53.7|       3380|        ohc|             six|        209|              8.0|       182|    5400|41315|
|        bmw|      gas|       std|        four|      sedan|     110.0| 197.0| 70.9|  56.3|       3505|        ohc|             six|        209|              8.0|       182|    5400|36880|
|  chevrolet|      gas|       std|         two|  hatchback|      88.4| 141.1| 60.3|  53.2|       1488|          l|           three|         61|              9.5|        48|    5100| 5151|
|  chevrolet|      gas|       std|         two|  hatchback|      94.5| 155.9| 63.6|  52.0|       1874|        ohc|            four|         90|              9.6|        70|    5400| 6295|
+-----------+---------+----------+------------+-----------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------------+----------+--------+-----+
only showing top 20 rows

In [111]:
#2.Mengambil beberapa kolom

book.select("make", "fuel-type", "aspiration").show()
book.printSchema()

+-----------+---------+----------+
|       make|fuel-type|aspiration|
+-----------+---------+----------+
|alfa-romero|      gas|       std|
|alfa-romero|      gas|       std|
|alfa-romero|      gas|       std|
|       audi|      gas|       std|
|       audi|      gas|       std|
|       audi|      gas|       std|
|       audi|      gas|       std|
|       audi|      gas|       std|
|       audi|      gas|     turbo|
|       audi|      gas|     turbo|
|        bmw|      gas|       std|
|        bmw|      gas|       std|
|        bmw|      gas|       std|
|        bmw|      gas|       std|
|        bmw|      gas|       std|
|        bmw|      gas|       std|
|        bmw|      gas|       std|
|        bmw|      gas|       std|
|  chevrolet|      gas|       std|
|  chevrolet|      gas|       std|
+-----------+---------+----------+
only showing top 20 rows

root
 |-- make: string (nullable = true)
 |-- fuel-type: string (nullable = true)
 |-- aspiration: string (nullable = true)
 |-- num-of-doors: string (nullable = true)
 |-- body-style: string (nullable = true)
 |-- wheel-base: double (nullable = true)
 |-- length: double (nullable = true)
 |-- width: double (nullable = true)
 |-- height: double (nullable = true)
 |-- curb-weight: integer (nullable = true)
 |-- engine-type: string (nullable = true)
 |-- num-of-cylinders: string (nullable = true)
 |-- engine-size: integer (nullable = true)
 |-- compression-ratio: double (nullable = true)
 |-- horsepower: integer (nullable = true)
 |-- peak-rpm: integer (nullable = true)
 |-- price: integer (nullable = true)

In [112]:
#5. Filter baris
book.filter(book.make == 'dodge').show()

+-----+---------+----------+------------+----------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------------+----------+--------+-----+
| make|fuel-type|aspiration|num-of-doors|body-style|wheel-base|length|width|height|curb-weight|engine-type|num-of-cylinders|engine-size|compression-ratio|horsepower|peak-rpm|price|
+-----+---------+----------+------------+----------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------------+----------+--------+-----+
|dodge|      gas|       std|         two| hatchback|      93.7| 157.3| 63.8|  50.8|       1876|        ohc|            four|         90|             9.41|        68|    5500| 5572|
|dodge|      gas|       std|         two| hatchback|      93.7| 157.3| 63.8|  50.8|       1876|        ohc|            four|         90|              9.4|        68|    5500| 6377|
|dodge|      gas|     turbo|         two| hatchback|      93.7| 157.3| 63.8|  50.8|       2128|        ohc|            four|         98|              7.6|       102|    5500| 7957|
|dodge|      gas|       std|        four| hatchback|      93.7| 157.3| 63.8|  50.6|       1967|        ohc|            four|         90|              9.4|        68|    5500| 6229|
|dodge|      gas|       std|        four|     sedan|      93.7| 157.3| 63.8|  50.6|       1989|        ohc|            four|         90|              9.4|        68|    5500| 6692|
|dodge|      gas|       std|        four|     sedan|      93.7| 157.3| 63.8|  50.6|       1989|        ohc|            four|         90|              9.4|        68|    5500| 7609|
|dodge|      gas|     turbo|        null|     sedan|      93.7| 157.3| 63.8|  50.6|       2191|        ohc|            four|         98|              7.6|       102|    5500| 8558|
|dodge|      gas|       std|        four|     wagon|     103.3| 174.6| 64.6|  59.8|       2535|        ohc|            four|        122|              8.5|        88|    5000| 8921|
|dodge|      gas|     turbo|         two| hatchback|      95.9| 173.2| 66.3|  50.2|       2811|        ohc|            four|        156|              7.0|       145|    5000|12964|
+-----+---------+----------+------------+----------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------------+----------+--------+-----+

In [113]:
#8. Filter berdasar Regular Ekspresion
from pyspark.sql.functions import col, regexp_extract
book.filter(regexp_extract(col("engine-type"), "ohc", 0)!= "").show()

+-----------+---------+----------+------------+-----------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------------+----------+--------+-----+
|       make|fuel-type|aspiration|num-of-doors| body-style|wheel-base|length|width|height|curb-weight|engine-type|num-of-cylinders|engine-size|compression-ratio|horsepower|peak-rpm|price|
+-----------+---------+----------+------------+-----------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------------+----------+--------+-----+
|alfa-romero|      gas|       std|         two|convertible|      88.6| 168.8| 64.1|  48.8|       2548|       dohc|            four|        130|              9.0|       111|    5000|13495|
|alfa-romero|      gas|       std|         two|convertible|      88.6| 168.8| 64.1|  48.8|       2548|       dohc|            four|        130|              9.0|       111|    5000|16500|
|alfa-romero|      gas|       std|         two|  hatchback|      94.5| 171.2| 65.5|  52.4|       2823|       ohcv|             six|        152|              9.0|       154|    5000|16500|
|       audi|      gas|       std|        four|      sedan|      99.8| 176.6| 66.2|  54.3|       2337|        ohc|            four|        109|             10.0|       102|    5500|13950|
|       audi|      gas|       std|        four|      sedan|      99.4| 176.6| 66.4|  54.3|       2824|        ohc|            five|        136|              8.0|       115|    5500|17450|
|       audi|      gas|       std|         two|      sedan|      99.8| 177.3| 66.3|  53.1|       2507|        ohc|            five|        136|              8.5|       110|    5500|15250|
|       audi|      gas|       std|        four|      sedan|     105.8| 192.7| 71.4|  55.7|       2844|        ohc|            five|        136|              8.5|       110|    5500|17710|
|       audi|      gas|       std|        four|      wagon|     105.8| 192.7| 71.4|  55.7|       2954|        ohc|            five|        136|              8.5|       110|    5500|18920|
|       audi|      gas|     turbo|        four|      sedan|     105.8| 192.7| 71.4|  55.9|       3086|        ohc|            five|        131|              8.3|       140|    5500|23875|
|       audi|      gas|     turbo|         two|  hatchback|      99.5| 178.2| 67.9|  52.0|       3053|        ohc|            five|        131|              7.0|       160|    5500| null|
|        bmw|      gas|       std|         two|      sedan|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|              8.8|       101|    5800|16430|
|        bmw|      gas|       std|        four|      sedan|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|              8.8|       101|    5800|16925|
|        bmw|      gas|       std|         two|      sedan|     101.2| 176.8| 64.8|  54.3|       2710|        ohc|             six|        164|              9.0|       121|    4250|20970|
|        bmw|      gas|       std|        four|      sedan|     101.2| 176.8| 64.8|  54.3|       2765|        ohc|             six|        164|              9.0|       121|    4250|21105|
|        bmw|      gas|       std|        four|      sedan|     103.5| 189.0| 66.9|  55.7|       3055|        ohc|             six|        164|              9.0|       121|    4250|24565|
|        bmw|      gas|       std|        four|      sedan|     103.5| 189.0| 66.9|  55.7|       3230|        ohc|             six|        209|              8.0|       182|    5400|30760|
|        bmw|      gas|       std|         two|      sedan|     103.5| 193.8| 67.9|  53.7|       3380|        ohc|             six|        209|              8.0|       182|    5400|41315|
|        bmw|      gas|       std|        four|      sedan|     110.0| 197.0| 70.9|  56.3|       3505|        ohc|             six|        209|              8.0|       182|    5400|36880|
|  chevrolet|      gas|       std|         two|  hatchback|      94.5| 155.9| 63.6|  52.0|       1874|        ohc|            four|         90|              9.6|        70|    5400| 6295|
|  chevrolet|      gas|       std|        four|      sedan|      94.5| 158.8| 63.6|  52.0|       1909|        ohc|            four|         90|              9.6|        70|    5400| 6575|
+-----------+---------+----------+------------+-----------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------------+----------+--------+-----+
only showing top 20 rows

In [114]:
#11. Filter baris berdasarkan nilai null atau non null

book.filter(book.make.isNull()).show()

+----+---------+----------+------------+----------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------------+----------+--------+-----+
|make|fuel-type|aspiration|num-of-doors|body-style|wheel-base|length|width|height|curb-weight|engine-type|num-of-cylinders|engine-size|compression-ratio|horsepower|peak-rpm|price|
+----+---------+----------+------------+----------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------------+----------+--------+-----+
+----+---------+----------+------------+----------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------------+----------+--------+-----+

In [118]:
#14.menggunakan fungsi-fungsi SQL PySpark untuk mengubah nilai kolom sebelum melakukan filter
book.createOrReplaceTempView("bookSQL")

spark.sql("SELECT * FROM bookSQL WHERE ROUND(width, 0) == 64").show()

+-----------+---------+----------+------------+-----------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------------+----------+--------+-----+
|       make|fuel-type|aspiration|num-of-doors| body-style|wheel-base|length|width|height|curb-weight|engine-type|num-of-cylinders|engine-size|compression-ratio|horsepower|peak-rpm|price|
+-----------+---------+----------+------------+-----------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------------+----------+--------+-----+
|alfa-romero|      gas|       std|         two|convertible|      88.6| 168.8| 64.1|  48.8|       2548|       dohc|            four|        130|              9.0|       111|    5000|13495|
|alfa-romero|      gas|       std|         two|convertible|      88.6| 168.8| 64.1|  48.8|       2548|       dohc|            four|        130|              9.0|       111|    5000|16500|
|  chevrolet|      gas|       std|         two|  hatchback|      94.5| 155.9| 63.6|  52.0|       1874|        ohc|            four|         90|              9.6|        70|    5400| 6295|
|  chevrolet|      gas|       std|        four|      sedan|      94.5| 158.8| 63.6|  52.0|       1909|        ohc|            four|         90|              9.6|        70|    5400| 6575|
|      dodge|      gas|       std|         two|  hatchback|      93.7| 157.3| 63.8|  50.8|       1876|        ohc|            four|         90|             9.41|        68|    5500| 5572|
|      dodge|      gas|       std|         two|  hatchback|      93.7| 157.3| 63.8|  50.8|       1876|        ohc|            four|         90|              9.4|        68|    5500| 6377|
|      dodge|      gas|     turbo|         two|  hatchback|      93.7| 157.3| 63.8|  50.8|       2128|        ohc|            four|         98|              7.6|       102|    5500| 7957|
|      dodge|      gas|       std|        four|  hatchback|      93.7| 157.3| 63.8|  50.6|       1967|        ohc|            four|         90|              9.4|        68|    5500| 6229|
|      dodge|      gas|       std|        four|      sedan|      93.7| 157.3| 63.8|  50.6|       1989|        ohc|            four|         90|              9.4|        68|    5500| 6692|
|      dodge|      gas|       std|        four|      sedan|      93.7| 157.3| 63.8|  50.6|       1989|        ohc|            four|         90|              9.4|        68|    5500| 7609|
|      dodge|      gas|     turbo|        null|      sedan|      93.7| 157.3| 63.8|  50.6|       2191|        ohc|            four|         98|              7.6|       102|    5500| 8558|
|      honda|      gas|       std|         two|  hatchback|      86.6| 144.6| 63.9|  50.8|       1713|        ohc|            four|         92|              9.6|        58|    4800| 6479|
|      honda|      gas|       std|         two|  hatchback|      86.6| 144.6| 63.9|  50.8|       1819|        ohc|            four|         92|              9.2|        76|    6000| 6855|
|      honda|      gas|       std|         two|  hatchback|      93.7| 150.0| 64.0|  52.6|       1837|        ohc|            four|         79|             10.1|        60|    5500| 5399|
|      honda|      gas|       std|         two|  hatchback|      93.7| 150.0| 64.0|  52.6|       1940|        ohc|            four|         92|              9.2|        76|    6000| 6529|
|      honda|      gas|       std|         two|  hatchback|      93.7| 150.0| 64.0|  52.6|       1956|        ohc|            four|         92|              9.2|        76|    6000| 7129|
|      honda|      gas|       std|        four|      sedan|      96.5| 163.4| 64.0|  54.5|       2010|        ohc|            four|         92|              9.2|        76|    6000| 7295|
|      honda|      gas|       std|        four|      wagon|      96.5| 157.1| 63.9|  58.3|       2024|        ohc|            four|         92|              9.2|        76|    6000| 7295|
|      isuzu|      gas|       std|         two|      sedan|      94.5| 155.9| 63.6|  52.0|       1874|        ohc|            four|         90|              9.6|        70|    5400| null|
|      isuzu|      gas|       std|        four|      sedan|      94.5| 155.9| 63.6|  52.0|       1909|        ohc|            four|         90|              9.6|        70|    5400| null|
+-----------+---------+----------+------------+-----------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------------+----------+--------+-----+
only showing top 20 rows